---
interface Props {
  name: string;
  description: string;
  url: string;
}
const { name, description, url } = Astro.props;
---

<div class="flex w-full flex-col md:w-[33%]">
  <a class="text-lg font-bold text-accent md:text-xl" href={url}
    >{name}<span class="animate-ping font-bold"> _</span></a
  >
  <p>{description}</p>
</div>
