---
import { Button } from "@/components/ui/button";

import { IconButton } from "@/components/icon-button/icon-button";
import { Image } from "astro:assets";
import logo from "public/assets/LN_Logo_Transparent.svg";
---

<section
  class="flex max-h-20 w-full flex-row items-center justify-between bg-background px-4"
>
  <div>
    <Image
      src={logo}
      alt="LN Dev Logo"
      decoding="async"
      loading="lazy"
      class="h-20 w-20 object-contain"
    />
  </div>
  <div
    class="border-secondary-800 flex h-full w-[80%] flex-row items-center justify-center border-b bg-radial-gradient-bottom from-secondary from-0% to-background to-90%"
  >
    <Button
      className="flex items-center justify-center font-heading text-xl text-accent"
      variant="ghost"
    >
      ABOUT
    </Button>
    <Button
      className="flex items-center justify-center font-heading text-xl text-accent"
      variant="ghost"
    >
      TOOLS
    </Button>
    <Button
      className="flex items-center justify-center font-heading text-xl text-accent"
      variant="ghost"
    >
      ARTICLES
    </Button>
  </div>
  <IconButton />
</section>
