---
import gitHubIcon from "public/assets/github-icon.png";
import linkedinIcon from "public/assets/linkedin-icon.png";
import cvIcon from "public/assets/cv-icon.png";

import Icon from "@/components/icon/Icon.astro";
---

<section
  class="flex max-h-20 w-full flex-1 flex-row items-center justify-between bg-background"
>
  <div class="flex h-20 w-20 flex-col items-center justify-center"></div>
  <div
    class="border-secondary-800 flex h-full w-[80%] flex-row items-center justify-center border-t bg-radial-gradient-top from-secondary from-90% to-background to-0%"
  >
    <button
      class="flex flex-row items-center justify-center space-x-2 p-6 font-heading"
    >
      <Icon icon={linkedinIcon} />
      <p>LinkedIn</p>
    </button>
    <button
      class="flex flex-row items-center justify-center space-x-2 p-6 font-heading"
    >
      <Icon icon={gitHubIcon} />
      <p>GitHub</p>
    </button>
    <button
      class="flex flex-row items-center justify-center space-x-2 p-6 font-heading"
    >
      <Icon icon={cvIcon} />
      <p>CV</p>
    </button>
  </div>
  <div class="flex h-20 w-20 flex-col items-center justify-center"></div>
</section>
