---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/
import "@/styles/globals.css";

import { ViewTransitions } from "astro:transitions";

// Component Imports
import MainHead from "@/components/templates/MainHead.astro";
import Navbar from "@/components/navbar/Navbar.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
    <ViewTransitions />
  </head>
  <body class="flex flex-1 items-center justify-center">
    <div class="flex min-h-full flex-1 bg-background">
      <Navbar />
      <slot />
    </div>
  </body>
</html>
