---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/
import "@/styles/globals.css";

// Component Imports
import MainHead from "@/components/templates/MainHead.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
    <ViewTransitions />
  </head>
  <body>
    <div class="bg-primary w-full">
      <slot />
    </div>

    <script>
      // Add “loaded” class once the document has completely loaded.
      addEventListener("load", () =>
        document.documentElement.classList.add("loaded")
      );
    </script>
  </body>
</html>
